:root{
    --bs-primary:#C78C06;
    --bs-primary-rgb:199, 140, 6;
    --bs-secondary: #FFE6AC;
    --bs-secondary-rgb: 255, 230, 172;
}

.banner{
    background: url(../images/main-banner.jpg) no-repeat center;
    background-size: cover;
}
.vision{
    background: url(../images/vision.jpg) no-repeat center;
    background-size: cover;
}

footer a{
    color: inherit;
}

.table-secondary {
    --bs-table-bg: var(--bs-secondary);
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
}

.navbar-nav .nav-link{
    color: var(--bs-primary);
}

.navbar-nav .nav-link.active{
    background-color: var(--bs-primary);
    color: var(--bs-dark);
}